body {
    height: 100%;
    width: 100%;
    overflow-x: hidden !important;
}
.container {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
.appContents {
    padding: 20px;
    background: #FFFFFF;
}

